*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color:#5C415D ;
    color: white;
    width: 100%;
    line-height:4rem ;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #5C415D;

}
img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

#user-score , #computer-score {
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}

#msg {
    background-color: #06d6a0;
    color:black;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}